<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include 'patient/header.html' %}
<script src="{% static 'admin/jquery.min.js' %}"></script>

<head>

    <title>Hospital Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'guest/images/icons/favicon.ico'%}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'guest/vendor/bootstrap/css/bootstrap.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'guest/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'guest/fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'guest/vendor/animate/animate.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'guest/vendor/css-hamburgers/hamburgers.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'guest/vendor/animsition/css/animsition.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'guest/vendor/select2/select2.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'guest/vendor/daterangepicker/daterangepicker.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'guest/css/util.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'guest/css/main.css'%}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url({% static 'hospital/images/img1.jpg'%});">
					<span class="login100-form-title-1">
						View More Cofirmation Details
					</span>
            </div>
                <div class="">
                  <table class="table table-striped">
                      <thead>
                    <tr>
						Hospital Details
                        <th>Image</th>
                        <th>Hospital Name</th>
                        <th>Ph No</th>

                    </tr>
                      <tr>
                          <td><img src="/images/{{details.hosserid.hospitalid.hosphoto}}"></td>
                          <td>{{details.hosserid.hospitalid.hosname}}</td>
                          <td>{{details.hosserid.hospitalid.phone}}</td>

                      </tr>
                    </thead>
                  </table><br>
                     <table class="table table-striped">
                       <thead>
                    <tr>
						Service Details
                        <th>Service Name</th>
                        <th>Service Time</th>

                    </tr>
                       <tr>
                           <td>{{details.hosserid.serid.sername}}</td>
                           <td>{{details.hosserid.serid.serTime}}</td>
                       </tr>
                    </thead>
                     </table><br>
                    <table class="table table-striped">
                       <thead>
                    <tr>
						Appointment Details
                        <th>Appointment Date</th>
                        <th>Appointment Time</th>

                    </tr>
                       <tr><td>{{details.appdate}}</td>
                       <td>{{details.apptime}}</td>
                    </tr>
                    </thead>
                        </table><br>
                    <table class="table table-striped">
                         <thead>
                    <tr>
						Assigned Doctor Details
                        <th>Doctor Name</th>
                        <th>Phone</th>
                        <th>Qualification</th>
                        <th>Experience</th>
                        <th>Specialization</th>


                    </tr>
                         <tr>
                             <td>{{details.docid.docname}}</td>
                         <td>{{details.docid.phone}}</td>
                         <td>{{details.docid.qualification}}</td>
                         <td>{{details.docid.experience}}</td>
                         <td>{{details.docid.specialization}}</td>
                    </tr>
                    </thead>
                         </table><br>



                </div>


        </div>
    </div>
</div>
</body>


<!--===============================================================================================-->
<script src="{% static 'guest/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'guest/vendor/animsition/js/animsition.min.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'guest/vendor/bootstrap/js/popper.js'%}"></script>
<script src="{% static 'guest/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'guest/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'guest/vendor/daterangepicker/moment.min.js'%}"></script>
<script src="{% static 'guest/vendor/daterangepicker/daterangepicker.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'guest/vendor/countdowntime/countdowntime.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'guest/js/main.js'%}"></script>

</body>
</html>