
<html lang="en">
{% load static %}
{% include 'hospital/header.html' %}
<script src="{% static 'admin/jquery.min.js' %}"></script>
<script src="{% static 'admin/jquery.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                }
            });
            $('#GIN').change(function () {
                var did = $(this).val();
                $.ajax({
                    type: "POST",
                    url: '{% url "fillpatient" %}',
                    data: { did: did },
                    dataType: "json",
                    success: function (data) {
                        $('#patid').empty(); // Clear table body
                         if (data && data.length > 0) {
        // Iterate through each element in 'data'
        $.each(data, function(index, val) {
        $("#pid").val(val.patid);
            var row = "<tr><td>" + val.patname + "</td>"+
                       "<td>" + val.email + "</td>"+
                       "<td>" + val.phone + "</td>"+
                       "<td>" + val.gender + "</td>"+
                       "<td>" + val.age+ "</td>"+
                       "<td>" + val.housename + "</td>"+
                       "<td>" + val.pin + "</td>"+
                        "<td>" + val.locid__locname + "</td></tr>";
            $('#patid').append(row);
        });
    } else {
        // Data is empty or not defined
        var row = "<tr><td>Patient Not Registered Yet</td></tr>";
        $('#patid').append(row);
    }
                    }
                });
            });
        });
    </script>


<head>

    <title>Hospital Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'guest/images/icons/favicon.ico'%}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'guest/vendor/bootstrap/css/bootstrap.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'guest/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'guest/fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'guest/vendor/animate/animate.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'guest/vendor/css-hamburgers/hamburgers.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'guest/vendor/animsition/css/animsition.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'guest/vendor/select2/select2.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'guest/vendor/daterangepicker/daterangepicker.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'guest/css/util.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'guest/css/main.css'%}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url({% static 'hospital/images/img1.jpg'%});">
					<span class="login100-form-title-1">
						Patient Case History
					</span>
            </div><br>

           <br>
            <table class="table table-striped">
                <thead>
                <tr> Patient Details
                    <th>GIN</th>
                    <th>Patient Name</th>
                    <th>Service Name</th>
                    <th>Doctor Name</th>
                    <th>Appointment Date</th>
                    <th>Appointment Time</th>

                    <th></th>
                </tr>
                </thead>

<tbody >
{% for d in details %}
<tr><td>{{d.patid.opno}}</td>
<td>{{d.patid.patname}}</td>
    <td>{{d.hosserid.serid.sername}}</td>
    <td>{{d.docid.docname}}</td>
    <td>{{d.appdate}}</td>
    <td>{{d.apptime}}</td>
    <td><a href="{% url 'insertcasehistory' id=d.appid %}">Add Case History</a></td>
</tr>
{% endfor %}

            </tbody>
            </table><br>



</div>
</body>


<!--===============================================================================================-->
<script src="{% static 'guest/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'guest/vendor/animsition/js/animsition.min.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'guest/vendor/bootstrap/js/popper.js'%}"></script>
<script src="{% static 'guest/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'guest/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'guest/vendor/daterangepicker/moment.min.js'%}"></script>
<script src="{% static 'guest/vendor/daterangepicker/daterangepicker.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'guest/vendor/countdowntime/countdowntime.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'guest/js/main.js'%}"></script>

</body>
</html>