{% load static %}
<footer class="footer">




</footer>
<!-- partial -->

<!-- main-panel ends -->

<!-- page-body-wrapper ends -->

<!-- container-scroller -->

<!-- plugins:js -->
<script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'admin/vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'admin/vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'admin/js/dataTables.select.min.js' %}"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'admin/js/off-canvas.js' %}"></script>
<script src="{% static 'admin/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'admin/js/template.jzs' %}"></script>
<script src="{% static 'admin/js/settings.js' %}"></script>
<script src="{% static 'admin/js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'admin/js/dashboard.js' %}"></script>
<script src="{% static 'admin/js/Chart.roundedBarCharts.js' %}"></script>
<!-- End custom js for this page-->